@font-face {
    font-family: "pkmnFont";
    src: url("./fonts/pkmnfnt.ttf") format("truetype");
}

* {
    /* outline-style: dashed; */
    font-family: "pkmnFont";
}

body {
    background-color: black;
    font-size: 20px;
}

.intro {
    image-rendering: pixelated;
    text-align: center;
}

.textboxcontainer {
    position: relative;
    text-align: center;
}

.textbox {
    color: #606060;
    text-shadow: 2px 2px #d0d0c8;
    font-size: 62px;
    position: absolute;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game {
    display: none;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    image-rendering: pixelated;
    position: relative;
    background-image: url("./images/bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 8px 8px 0 0;
    height: 480px;
    width: 800px;
}
  
.opponent {
    position: relative;
    height: 300px;
}
  
.opponent .stats {
    background-image: url("./images/enemystat.png");
    image-rendering: pixelated;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 96px;
    left: 40px;
    width: 300px;
    height: 74px;
}
  
.opponent .opponentPokemon {
    position: absolute;
    bottom: -10px;
    right: 125px;
    width: 150px;
}
  
.player {
    position: relative;
    height: 192px;
}
  
.player .stats {
    background-image: url("./images/playerstat.png");
    image-rendering: pixelated;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 48px;
    right: 40px;
    width: 300px;
    height: 74px;
}
  
.player .playerPokemon {
    position: absolute;
    left: 185px;
    bottom: 20px;
    width: 110px;
}
  
.box {
    display: none;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    image-rendering: pixelated;
    background-image: url("./images/fightMenu.png");
    padding: 8px;
    border: 3px solid black;
    border-top: none;
    border-radius: 0 0 8px 8px;
    color: #fff;
    height: 120px;
    width: 784px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
  
.box .message {
    color: #fffbff;
    text-shadow: 2px 2px #6b5973;
    padding: 50px 0;
    position: relative;
    float: left;
    left: 30px;
    bottom: 25px;
    font-size: 36px;
    width: 50%;
}
.box .continue {
    position: absolute;
    margin-top: 30px;
    float: left;
    width: 25%;
    height: 100%;
}
  
.box .actions {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}
  
.box .actions button {
    background-color: white;
    position: relative;
    float: left;
    color: #4a494a;
    font-size: 30px;
    text-shadow: 2px 2px #d6d3ce;
    line-height: 14px;
    padding: 16px;
    width: calc(48% - 8px);
    height: calc(50% - 8px);
    left: 20px;
    top: 8px;
}
  
.box .actions button:hover {
    background: #777;
    border-color: #999;
}
  
.box .actions button:active {
    background: #555;
    border-color: #666;
}

.stats {
    position: relative;
    font-size: 32px;
    background: transparent;
    border-radius: 8px;
    color: #526963;
    text-shadow: 2px 2px #ded3b5;
    padding: 12px;
}
  
.stats .hp-count:before {
    content: "HP: ";
}
  
.stats .hp-count {
    float: right;
}
  
.stats .playerName {
    position: absolute;
    font-weight: bold;
    left: 50px;
}

.stats .opponentName {
    position: absolute;
    font-weight: bold;
    left: 25px;
}

.stats .level:before {
    content: "LVL"
}